First, dive in and explore the data set. Include your code and visuals from this process in your final write up. While doing this, look for something that provokes a question; specifically one that can be answered with an experiment.

The main component of this capstone is a research proposal. Using the data set you selected, propose and outline an experiment plan. The plan should consist of three key components:
   - Analysis that highlights your experimental hypothesis.
   - A rollout plan showing how you would implement and rollout the experiment
   - An evaluation plan showing what constitutes success in this experiment

In [10]:
# AG to do's: test date axis subsets, QQ plot

In [11]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
from scipy import stats

In [12]:
calendar = pd.read_csv('calendar (sf).csv')
listings = pd.read_csv('listings (sf).csv')
reviews  = pd.read_csv('reviews (sf).csv')

<b>Notes for Brad</b>
My idea is for AirBnB to run an experiment where certain listings are given an "AirBnb Recommends" tag. Similar to Amazon recommended products, this tag would likely drive higher utilization of recommended properties, and could be used to reward properties that have positive effects for Airbnb (e.g., lead to a higher usage of Airbnb Experiences in the city).

Before launching such a feature, AirBnb should test the hypothesis that an "AirBnb Recommends" tag would drive higher utilization of tagged properties.

To prepare for the experiement, we should review the Airbnb data we have available to consider how the experiment should be implemented. Specifically, I recommend we:
- come up with a measure of calendar availablility based on the calendar table
- come up with an indicator of positive/negative sentiment based on the review table
- determine which columns in the listings table are ammenable to quantitative measures that we can use to segment different types of listings

In [13]:
calendar.head()

   listing_id calendar_date available price
0        8739       10/2/19         f   NaN
1         958       10/2/19         f   NaN
2        8739       10/1/19         f   NaN
3        8739       9/30/19         f   NaN
4        8739       9/29/19         f   NaN

In [14]:
reviews.head()

,listing_id,id,review_date,reviewer_id,reviewer_name,comments
0,958,5977,7/23/09,15695,Edmund C,"Our experience was, without a doubt, a five st..."
1,958,6660,8/3/09,26145,Simon,Returning to San Francisco is a rejuvenating t...
2,958,11519,9/27/09,25839,Denis,We were very pleased with the accommodations a...
3,958,16282,11/5/09,33750,Anna,We highly recommend this accomodation and agre...
4,958,26008,2/13/10,15416,Venetia,Holly's place was great. It was exactly what I...

In [15]:
listings.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,958,https://www.airbnb.com/rooms/958,20181003014841,2018-10-03,"Bright, Modern Garden Unit - 1BR/1B",Our bright garden unit overlooks a grassy back...,"Newly remodeled, modern, and bright garden uni...",Our bright garden unit overlooks a grassy back...,none,*Quiet cul de sac in friendly neighborhood *St...,...,t,STR-0001256,"{""SAN FRANCISCO""}",f,f,moderate,f,f,1,1.43
1,5858,https://www.airbnb.com/rooms/5858,20181003014841,2018-10-03,Creative Sanctuary,NaN,We live in a large Victorian house on a quiet ...,We live in a large Victorian house on a quiet ...,none,I love how our neighborhood feels quiet but is...,...,t,NaN,"{""SAN FRANCISCO""}",f,f,strict_14_with_grace_period,f,f,1,0.98
2,7918,https://www.airbnb.com/rooms/7918,20181003014841,2018-10-03,A Friendly Room - UCSF/USF - San Francisco,Nice and good public transportation. 7 minute...,Room rental-sunny view room/sink/Wi Fi (inner ...,Nice and good public transportation. 7 minute...,none,"Shopping old town, restaurants, McDonald, Whol...",...,t,NaN,"{""SAN FRANCISCO""}",f,f,strict_14_with_grace_period,f,f,9,0.15
3,8142,https://www.airbnb.com/rooms/8142,20181003014841,2018-10-03,Friendly Room Apt. Style -UCSF/USF - San Franc...,Nice and good public transportation. 7 minute...,Room rental Sunny view Rm/Wi-Fi/TV/sink/large ...,Nice and good public transportation. 7 minute...,none,NaN,...,t,NaN,"{""SAN FRANCISCO""}",f,f,strict_14_with_grace_period,f,f,9,0.16
4,8339,https://www.airbnb.com/rooms/8339,20181003014841,2018-10-03,Historic Alamo Square Victorian,Pls email before booking. Interior featured i...,Please send us a quick message before booking ...,Pls email before booking. Interior featured i...,none,NaN,...,t,STR-0000264,"{""SAN FRANCISCO""}",f,f,strict_14_with_grace_period,t,t,2,0.25